
#pokedex-header {
    text-align: center;
    font-weight: 700;
}

.flex-container {
    display: flex;
    justify-content: center
}

.poke-card {
    text-align: center;
    background: #D3D3D3;
    border-radius: 10px;
    padding: 40px 50px;
    margin: 20px
}

.poke-card h3 {
    color: blue;
    font-weight: 700;
}

.poke-card img {
    padding: 5px 0px;
}

.poke-card p {
    font-weight: 600;
}

.blocks {
    height: 200px;
    width: 200px;
    display: inline-block
}

.test {
    background-color:black;
}

.todo {
    margin: 0 10px;
}

.todo-done {
    background-color: green;
}

.todo-pending {
    background-color: red;
}